*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(56, 2, 2);
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links li{
    list-style: none;
}
.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}